* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', Arial, sans-serif;
  background-color: #fff5f8;
  color: #444;
}

header {
  background-color: #ffd6e7;
  text-align: center;
  padding: 35px 20px;
}

header h1 {
  font-family: 'Sacramento', cursive;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 8px;
}

header p {
  margin-top: 8px;
  font-size: 1rem;
}

nav {
  display: flex;
  justify-content: center;
  gap: 20px;
  background-color: rgb(250, 72, 143),( 72, 143);
  padding: 10px;                         
}

nav a {
  text-decoration: none;
  color: #b3005e;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

main {
  padding: 25px;
}

section {
  background-color: #fff;
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 25px;
}

section h2 {
  margin-bottom: 10px;
}

.card {
  background-color: #ffe0ea;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 15px;
  transition: transform 0.2s, box-shadow 0.2s;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  background-color: #ff87ab;
}

.btn {
  background-color: #ff67a9;
  border: none;
  padding: 10px 18px;
  border-radius: 25px;
  cursor: pointer;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  transition: background-color 0.2s;
}

.btn:hover {
  background-color: #ff9ec4;
}

.conteudo {
  margin-top: 12px;
  font-size: 1rem;
  line-height: 1.5;
  color: #444;
}
.oculto {
  display: none;
}

footer {
  text-align: center;
  padding: 18px;
  font-size: 0.85rem;
  color: #777;
}